extends ../admin

block right
  div(class='container')    
    h1 
      = 'Add a new Category'
    div(class='row')
      div(class='col-md-8')
        form(class='form-block', role='form', action="/admin/category/add", method="post")
          div(class='form-group #{errors && errors.name ? "has-error": ""}')
            label(for='name', class='control-label') Category name #{errors && errors.name ? "(" + errors.name + ")" : ""}
            input(type='text', class='form-control', name='name', id='name', placeholder='Enter category name', value='#{fields && fields.name ? fields.name : ""}')
          div(class='form-group #{errors && errors.text ? "has-error": ""}')
            label(for='text', class='control-label') Description #{errors && errors.text ? "(" + errors.text + ")" : ""}
            input(type='text', class='form-control', name='text', id='text', placeholder='Enter description', value='#{fields && fields.text ? fields.text : ""}')
          div(class='form-group #{errors && errors.category ? "has-error": ""}')
            label(for='category', class='control-label') Category path #{errors && errors.category ? "(" + errors.category + ")" : ""}
            input(type='text', class='form-control', name='category', id='category', placeholder='Enter category path', value='#{fields && fields.category ? fields.category : ""}')
          button(type='sumbit', class='btn btn-default') Add
    div(class='col-md-4')

